
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Inter', sans-serif;
}


body {
    background: #c0fdff;
    padding: 40px 20px;
    color: #333;
     font-family: 'Inter', sans-serif;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
.app-header {
    text-align: center;
    margin-bottom: 25px;
}

.app-header h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #222;
    margin-top:45px;
}

.tagline {
    color: #666;
    margin-top: 5px;
    font-size:1.5rem;
}

/* MAIN PAD CONTAINER */
.pad {
    max-width: 650px;
    margin: 0 auto;
    background:#fffbe8;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
    position: relative;
}

/* TEXTAREA */
textarea {
    width: 100%;
    height: 180px;
    padding: 15px;
    border: none;
    font-size: 1.05rem;
    border-radius: 12px;
    background: #fff8f0;
    resize: none;
    outline: none;
    color: #2b2b2b;
    caret-color: #1976d2;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

textarea:focus {
    background: #ffffff;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.10);
}

/* SAVE BUTTON*/
#saveBtn {
    background: #3b28cc;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 0.99rem;
    margin-top: 18px;

    box-shadow: 0 4px 12px rgba(25, 118, 210, 0.25);
    transition: 0.25s ease;
}

#saveBtn:hover {
    background: #0f60ad;
    transform: translateY(-2px);
}

/* MIC BUTTON WRAPPER */
.mic-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

/* START MIC BUTTON*/
#startBtn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    background: #ff4b4b;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    box-shadow: 0 10px 30px rgba(255, 60, 60, 0.45);
    transition: 0.25s ease;
}
#startBtn:hover {
    transform: scale(1.1);
}
#startBtn.listening {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0px rgba(255, 60, 60, 0.6); }
    50% { box-shadow: 0 0 25px rgba(255, 60, 60, 0.9); }
    100% { box-shadow: 0 0 0px rgba(255, 60, 60, 0.6); }
}

/* TEXT BELOW MIC */
.listen-label {
    margin-top: 10px;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

/* STOP BUTTON */
#stopBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #333;
    color: white;
    font-size: 1.5rem;
    margin-top: 12px;
    cursor: pointer;
    display: none;

    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    transition: 0.25s ease;
}

#stopBtn:hover {
    transform: scale(1.05);
}

/* NOTES SECTION */
.notes-section {
    max-width: 650px;
    margin: 60px auto 0 auto;
}

.notes-section h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #222;
}

/* NOTES LIST */
.notes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* NOTE CARD */
.note-card {
    background: white;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.07);
    border-left: 6px solid #1976d2;
    transition: 0.25s ease;
}

.note-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 18px rgba(0,0,0,0.10);
}

.timestamp {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 8px;
}

